@import './variable.scss';
#mainWrapper{position:relative;height:calc(100vh - 60px);z-index:1}
aside{background:#141923;width:$sidebarWidth;position:absolute;top:0px;left:0px;bottom:0px;transition:$defaultTransition;display:flex;flex-direction:column;border-top:1px solid #232335}
section.contentWrapper{position:absolute;top:0px;bottom:0px;left:$sidebarWidth;right:0px;transition:$defaultTransition;overflow:hidden}

aside.closed{left:calc(-1 * #{$sidebarWidth})}
aside.closed + section.contentWrapper{left:0px}

@include media('<=tablet'){
	aside{z-index:1}
	aside.opened{box-shadow:0px 0px 10px 2px rgba(82, 63, 105, 0.24)}
	aside.opened + section.contentWrapper{left:0px}
	.listTree ul li a::before{display:none}
}

/* Genel Stiller */
.wrapper{margin:32px}
.flex{display:flex}
.fw{flex-wrap:wrap}
.row{display:flex;flex-wrap:wrap;align-items:flex-start}
.column{flex:1}
.column + .column{margin-left:20px}

.mt32{margin-top:32px}
.mt24{margin-top:24px}
.mt20{margin-top:20px}
.mt15{margin-top:15px}
.mt10{margin-top:10px}
.mt5{margin-top:5px}

.mb20{margin-bottom:20px}
.mb10{margin-bottom:10px}

.ml20{margin-left:20px}
.ml10{margin-left:10px}

.mr10{margin-right:10px}

.p20{padding:20px}
.plr0{padding-left:0px !important;padding-right:0px !important}
.ov{overflow:visible !important}

.br40{border-radius:40px}

.cursorPointer{cursor:pointer}
.idb{display:block}

.tempHeight{height:296px}

/* flexFullHeight */
.flexFullHeightRow{align-items:unset !important}
.flexFullHeightColumn{display:flex;flex-direction:column}
.flexFullHeightColumn .layout{display:flex;flex-direction:column;flex:1}
.flexFullHeightColumn .layout .layoutContent{flex:1}

/* Fonts */

@font-face {
	font-family: 'Avenir';
	font-style:  normal;
	font-weight: 100;
	font-display: swap;
	src: url("../font/Avenir-Light.woff2") format("woff2"),
		 url("../font/Avenir-Light.woff") format("woff");
}
@font-face {
	font-family: 'Avenir';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("../font/Avenir-Roman.woff2") format("woff2"),
		 url("../font/Avenir-Roman.woff") format("woff");
}
@font-face {
	font-family: 'Avenir';
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url("../font/Avenir-Medium.woff2") format("woff2"),
		 url("../font/Avenir-Medium.woff") format("woff");
}
@font-face {
	font-family: 'Avenir';
	font-style:  normal;
	font-weight: 700;
	font-display: swap;
	src: url("../font/Avenir-Heavy.woff2") format("woff2"),
		 url("../font/Avenir-Heavy.woff") format("woff");
}
@font-face {
	font-family: 'Avenir';
	font-style:  normal;
	font-weight: 800;
	font-display: swap;
	src: url("../font/Avenir-Black.woff2") format("woff2"),
		 url("../font/Avenir-Black.woff") format("woff");
}

p.normalP{font:normal 400 14px/22px $defaultFont;color:#4b545f}
p.normalP b{font-weight:600}
p.normalP + p.normalP{margin-top:10px}
p.normalP a{font-weight:600;color:#5183f5}
p.normalP a:hover{text-decoration:underline}