@import '../../../styles/variable.scss';

.bottomInfo{display:flex;flex-wrap:wrap}
.bottomInfoSingle:not(:last-child){margin-right:20px}
.bottomInfoSingle{display:flex;align-items:center;margin-top:10px}
.bottomInfoSingle span{width:8px;height:4px;border-radius:4px}
.bottomInfoSingle p{font:normal 400 11px $defaultFont;color:#8a9ab5;margin-left:6px}