@import '../../styles/variable.scss';

// Table
.propsTable{margin-top:32px}
.propsTable .simpleKarcinTableHeader span.kaTableColumn{font:normal 500 14px/22px $defaultFont}
.propsTable .simpleKarcinTableRow span.kaTableColumn{font:normal 400 14px/22px $defaultFont}
.propsTable span.required{font-weight:500;color:#363f4a}
.propsTable span.optional{color:#afbac7;font-style:italic}

// Heaader Tab
.normalP + .headerWrapper{border:1px solid #dcdfe2;border-radius:3px}