@import '../../../styles/variable.scss';

.headerTab{display:flex;width: fit-content;}
.headerTab span{font:normal 400 13px $defaultFont;color:#6f7792;padding:16px 8px;cursor:pointer;transition:$defaultTransition;position:relative;display:flex;flex-direction:column;align-items:center;text-align:center;justify-content:center;white-space:nowrap}
.headerTab span::before{content:'';display:block;position:absolute;bottom:0px;left:calc(50% - 0.5em);width:1em;background:$hoverBlue;height:3px;border-radius:10px 10px 0px 0px;transition:$defaultTransition;font-size:0px;opacity:0}

.headerTab span::after{display:block;content:attr(data-text);font-weight:bold;height:0px;overflow:hidden;opacity:0}

.headerTab span:hover{color:$hoverBlue}

.headerTab span.active{color:$hoverBlue;font-weight:500}
.headerTab span.active::before{font-size:32px;opacity:1}

.headerWrapper{background:#fff;border-bottom:1px solid #dcdfe2;box-shadow:0px 2px 4px rgba(0, 0, 0, 0.04);padding:0px 8px;position:relative}

.headerWrapper .simplebar-scrollbar{display:none !important}